* {
  box-sizing: border-box;
  font-size: 100%;
  font-family: inherit;
}

input, select, textarea, button {
  box-sizing: border-box;
}

textarea {
  display: block;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #EEE;
}

body {
  margin: 0;
}

.header-container, .main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

header, main {
  margin: 1rem 1.5rem;
  max-width: 800px;
  width: 100%;
}

.header-container {
  border-bottom: 1px solid #333;
}

.login-host {
  margin-right: 1rem;
}

.account-header {
  display: flex;
  align-items: center;
}

.account-header > * {
  margin: 0 1rem 1rem 0;
}

.post-container {
  display: flex;
  flex-direction: column;
}

.post-textarea-outer {
  margin-bottom: 12px;
  border: 1px solid #666;
  border-radius: 3px;
}

.post-textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5rem;
  min-height: 1rem;
  border: 0;
  background-color: transparent;
  resize: vertical;
}

.post-button {
  width: 6rem;
  height: 2.5rem;
  align-self: flex-end;
}

.note-block {
  display: block;
  margin-bottom: 0.5rem;
  list-style: none;
}

.note-header {
  color: #22F;
}

.note-body {
  overflow-wrap: anywhere;
}

.timeline-list {
  padding-inline-start: 0;
}
