:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #EEE;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.5rem 1rem;
}

.app-container {
  margin: auto;
  min-width: 320px;
  max-width: 800px;
}

.container {
  margin: 2rem;
}

.login-host {
  margin-right: 1em;
}

.account-header {
  display: flex;
  align-items: center;
}

.account-header > * {
  margin: 10px;
}

.post-container {
  display: flex;
  align-items: flex-end;
}

.post-textarea {
  margin-right: 1em;

  height: 5rem;
  width: 15rem;
}

.note-block {
  display: block;
  margin-bottom: 0.5rem;
  list-style: none;
}

.note-header {
  color: #22F;
}

.timeline-list {
  padding-inline-start: 0;
}
